<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/681871e3-183d-426c-8bdd-48892e2f65ce/resourceGroups/AppCentralDeUsuarios/providers/Microsoft.Web/sites/CentralDeUsuariosServicesApi20230129095652</ResourceId>
    <ResourceGroup>AppCentralDeUsuarios</ResourceGroup>
    <ApiResourceId>/subscriptions/681871e3-183d-426c-8bdd-48892e2f65ce/resourceGroups/AppCentralDeUsuarios/providers/Microsoft.ApiManagement/service/CentralDeUsuariosServicesApiapi/apis/CentralDeUsuariosServicesApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://centraldeusuariosservicesapi20230129095652.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c121c601-1ce3-4d42-b892-de021ace27b4</ProjectGuid>
    <MSDeployServiceURL>centraldeusuariosservicesapi20230129095652.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CentralDeUsuariosServicesApi20230129095652</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CentralDeUsuariosServicesApi20230129095652</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>